In [9]:
import pandas as pd

dt = pd.read_csv("hotel_bookings.csv")
#dt.isna().sum()
 
#dt.duplicated().sum()
dt["Arrival_date"] = dt["arrival_date_day_of_month"].astype(str) + "-" + dt["arrival_date_month"] + "-" + dt["arrival_date_year"].astype(str)
dt = dt.drop(columns=[
    "arrival_date_month",
    "arrival_date_day_of_month",
    "arrival_date_year"
])

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Arrival_date
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2015-07-01
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2015-07-01
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,2015-07-01
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,2015-07-01
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,2015-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,35,2,5,2,0.0,0,BB,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,2017-08-30
119386,City Hotel,0,102,35,2,5,3,0.0,0,BB,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,2017-08-31
119387,City Hotel,0,34,35,2,5,2,0.0,0,BB,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,2017-08-31
119388,City Hotel,0,109,35,2,5,2,0.0,0,BB,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,2017-08-31
119389,City Hotel,0,205,35,2,7,2,0.0,0,HB,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,2017-08-29

In [14]:
#re-arrange the arrival column 
cols = list(dt.columns)
cols.remove("Arrival_date")
cols.insert(3, "Arrival_date")
dt = dt[cols]

#re-arrange the arrival column 
cols = list(dt.columns)
cols.remove("reservation_status_date")
cols.insert(4, "reservation_status_date")
dt = dt[cols]

#format the datetime format 
dt["Arrival_date"] = pd.to_datetime(
    dt["Arrival_date"],
    dayfirst=True
)
dt

,hotel,is_canceled,lead_time,Arrival_date,reservation_status_date,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2015-07-01,2015-07-01,27,0,0,2,0.0,...,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out
1,Resort Hotel,0,737,2015-07-01,2015-07-01,27,0,0,2,0.0,...,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out
2,Resort Hotel,0,7,2015-07-01,2015-07-02,27,0,1,1,0.0,...,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out
3,Resort Hotel,0,13,2015-07-01,2015-07-02,27,0,1,1,0.0,...,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out
4,Resort Hotel,0,14,2015-07-01,2015-07-03,27,0,2,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017-09-06,35,2,5,2,0.0,...,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out
119386,City Hotel,0,102,2017-08-31,2017-09-07,35,2,5,3,0.0,...,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out
119387,City Hotel,0,34,2017-08-31,2017-09-07,35,2,5,2,0.0,...,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out
119388,City Hotel,0,109,2017-08-31,2017-09-07,35,2,5,2,0.0,...,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out
119389,City Hotel,0,205,2017-08-29,2017-09-07,35,2,7,2,0.0,...,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out

In [16]:
dt.head(30)

,hotel,is_canceled,lead_time,Arrival_date,reservation_status_date,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2015-07-01,2015-07-01,27,0,0,2,0.0,...,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out
1,Resort Hotel,0,737,2015-07-01,2015-07-01,27,0,0,2,0.0,...,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out
2,Resort Hotel,0,7,2015-07-01,2015-07-02,27,0,1,1,0.0,...,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out
3,Resort Hotel,0,13,2015-07-01,2015-07-02,27,0,1,1,0.0,...,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out
4,Resort Hotel,0,14,2015-07-01,2015-07-03,27,0,2,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out
5,Resort Hotel,0,14,2015-07-01,2015-07-03,27,0,2,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out
6,Resort Hotel,0,0,2015-07-01,2015-07-03,27,0,2,2,0.0,...,0,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out
7,Resort Hotel,0,9,2015-07-01,2015-07-03,27,0,2,2,0.0,...,0,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out
8,Resort Hotel,1,85,2015-07-01,2015-05-06,27,0,3,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled
9,Resort Hotel,1,75,2015-07-01,2015-04-22,27,0,3,2,0.0,...,0,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled
10,Resort Hotel,1,23,2015-07-01,2015-06-23,27,0,4,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled
11,Resort Hotel,0,35,2015-07-01,2015-07-05,27,0,4,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out
12,Resort Hotel,0,68,2015-07-01,2015-07-05,27,0,4,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out
13,Resort Hotel,0,18,2015-07-01,2015-07-05,27,0,4,2,1.0,...,1,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out
14,Resort Hotel,0,37,2015-07-01,2015-07-05,27,0,4,2,0.0,...,0,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out
15,Resort Hotel,0,68,2015-07-01,2015-07-05,27,0,4,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out
16,Resort Hotel,0,37,2015-07-01,2015-07-05,27,0,4,2,0.0,...,0,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out
17,Resort Hotel,0,12,2015-07-01,2015-07-02,27,0,1,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out
18,Resort Hotel,0,0,2015-07-01,2015-07-02,27,0,1,2,0.0,...,0,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out
19,Resort Hotel,0,7,2015-07-01,2015-07-05,27,0,4,2,0.0,...,0,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out
20,Resort Hotel,0,37,2015-07-01,2015-07-06,27,1,4,1,0.0,...,0,No Deposit,241.0,NaN,0,Transient,97.29,0,1,Check-Out
21,Resort Hotel,0,72,2015-07-01,2015-07-07,27,2,4,2,0.0,...,1,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out
22,Resort Hotel,0,72,2015-07-01,2015-07-07,27,2,4,2,0.0,...,1,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out
23,Resort Hotel,0,72,2015-07-01,2015-07-07,27,2,4,2,0.0,...,1,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out
24,Resort Hotel,0,127,2015-07-01,2015-07-01,27,2,5,2,0.0,...,0,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out
25,Resort Hotel,0,78,2015-07-01,2015-07-08,27,2,5,2,0.0,...,0,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out
26,Resort Hotel,0,48,2015-07-01,2015-07-08,27,2,5,2,0.0,...,0,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out
27,Resort Hotel,1,60,2015-07-01,2015-05-11,27,2,5,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled
28,Resort Hotel,0,77,2015-07-01,2015-07-08,27,2,5,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,94.00,0,0,Check-Out
29,Resort Hotel,0,99,2015-07-01,2015-07-08,27,2,5,2,0.0,...,0,No Deposit,240.0,NaN,0,Transient,87.30,1,1,Check-Out