In [1]:
import pandas as pd

dt = pd.read_csv("hotel_bookings.csv")
#dt.isna().sum()
 
#dt.duplicated().sum()
dt["Arrival_date"] = dt["arrival_date_day_of_month"].astype(str) + "-" + dt["arrival_date_month"] + "-" + dt["arrival_date_year"].astype(str)
dt = dt.drop(columns=[
    "arrival_date_month",
    "arrival_date_day_of_month",
    "arrival_date_year"
])

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Arrival_date
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,1-July-2015
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,1-July-2015
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,1-July-2015
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,1-July-2015
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,1-July-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,35,2,5,2,0.0,0,BB,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,30-August-2017
119386,City Hotel,0,102,35,2,5,3,0.0,0,BB,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,31-August-2017
119387,City Hotel,0,34,35,2,5,2,0.0,0,BB,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,31-August-2017
119388,City Hotel,0,109,35,2,5,2,0.0,0,BB,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,31-August-2017
119389,City Hotel,0,205,35,2,7,2,0.0,0,HB,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,29-August-2017

In [6]:
cols = list(dt.columns)
cols.remove("Arrival_date")
cols.insert(3, "Arrival_date")
dt = dt[cols]
dt

,hotel,is_canceled,lead_time,Arrival_date,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,1-July-2015,27,0,0,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,1-July-2015,27,0,0,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,1-July-2015,27,0,1,1,0.0,0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,1-July-2015,27,0,1,1,0.0,0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,1-July-2015,27,0,2,2,0.0,0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,30-August-2017,35,2,5,2,0.0,0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,31-August-2017,35,2,5,3,0.0,0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,31-August-2017,35,2,5,2,0.0,0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,31-August-2017,35,2,5,2,0.0,0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,29-August-2017,35,2,7,2,0.0,0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07